In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 10000)

In [2]:
import datetime
from datetime import datetime

def ir_dataframe():
    ir_data = pd.read_csv("../data/external/interest_rates/Interest_rates_2018-2020.csv")
    ir_data = ir_data.rename(columns={"TIME": "Time", "Value": "Interest Rate"})
    ir_data = ir_data[{"Time", "Interest Rate"}]
    ir_data["Time"] = ir_data["Time"].transform(lambda time : datetime.strptime(time, "%Y-%m").strftime("%Y-%m-%d %H:%M"))
    
    aud_ir = ir_data[13:49]
    eur_ir = ir_data[356:392]
    jpn_ir = ir_data[307:343]
    gbp_ir = ir_data[258:294]
    nzd_ir = ir_data[209:245]
    usd_ir = ir_data[160:196]
    chf_ir = ir_data[62:98]
    cad_ir = ir_data[111:147]
    
    time_frame = pd.date_range(start="2018-01-01 22:00:00", freq="1T", end="2020-12-31 21:59:00")
    time_frame = pd.DataFrame(time_frame, columns=["Time"])
    time_frame["Time"] = time_frame["Time"].dt.strftime("%Y-%m-%d %H:%M")
    
    '''create_ir_csv(aud_ir, time_frame, aud_ir["Interest Rate"].iloc[0]).to_csv("../data/processed/interest_rate/aud_ir_processed.csv")
    create_ir_csv(cad_ir, time_frame, cad_ir["Interest Rate"].iloc[0]).to_csv("../data/processed/interest_rate/cad_ir_processed.csv")
    create_ir_csv(eur_ir, time_frame, eur_ir["Interest Rate"].iloc[0]).to_csv("../data/processed/interest_rate/eur_ir_processed.csv")
    create_ir_csv(jpn_ir, time_frame, jpn_ir["Interest Rate"].iloc[0]).to_csv("../data/processed/interest_rate/jpn_ir_processed.csv")
    create_ir_csv(gbp_ir, time_frame, gbp_ir["Interest Rate"].iloc[0]).to_csv("../data/processed/interest_rate/gbp_ir_processed.csv")
    create_ir_csv(nzd_ir, time_frame, nzd_ir["Interest Rate"].iloc[0]).to_csv("../data/processed/interest_rate/nzd_ir_processed.csv")
    create_ir_csv(usd_ir, time_frame, usd_ir["Interest Rate"].iloc[0]).to_csv("../data/processed/interest_rate/usd_ir_processed.csv")
    create_ir_csv(chf_ir, time_frame, chf_ir["Interest Rate"].iloc[0]).to_csv("../data/processed/interest_rate/chf_ir_processed.csv")
    '''
def create_ir_csv(pair, time, initial):
    pair = time.merge(pair, how="left", on="Time")
    pair["Interest Rate"].iloc[0] = initial
    pair = pair.fillna(method="ffill")
    return pair

ir_dataframe()

C:\Users\chera\.conda\envs\tf\lib\site-packages\pandas\core\indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 Time  Interest Rate
111  2018-01-01 00:00       2.198182
112  2018-02-01 00:00       2.324211
113  2018-03-01 00:00       2.188571
114  2018-04-01 00:00       2.249048
115  2018-05-01 00:00       2.375454
116  2018-06-01 00:00       2.209048
117  2018-07-01 00:00       2.187143
118  2018-08-01 00:00       2.295455
119  2018-09-01 00:00       2.353684
120  2018-10-01 00:00       2.488636
121  2018-11-01 00:00       2.407619
122  2018-12-01 00:00       2.057895
123  2019-01-01 00:00       1.953636
124  2019-02-01 00:00       1.907368
125  2019-03-01 00:00       1.712381
126  2019-04-01 00:00       1.724286
127  2019-05-01 00:00       1.664545
128  2019-06-01 00:00       1.462500
129  2019-07-01 00:00       1.519091
130  2019-08-01 00:00       1.205238
131  2019-09-01 00:00       1.364000
132  2019-10-01 00:00       1.449546
133  2019-11-01 00:00       1.499500
134  2019-12-01 00:00       1.604500
135  2020-01-01 00:00       1.492273
136  2020-02-01 00:00       1.294737
137  2020-03-01 00:00       0.819091
138  2020-04-01 00:00       0.657143
139  2020-05-01 00:00       0.551000
140  2020-06-01 00:00       0.561364
141  2020-07-01 00:00       0.516364
142  2020-08-01 00:00       0.563500
143  2020-09-01 00:00       0.559524
144  2020-10-01 00:00       0.602857
145  2020-11-01 00:00       0.688500
146  2020-12-01 00:00       0.730952